VITE_SUPABASE_URL=https://ynhicweziturjxhywqwk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InluaGljd2V6aXR1cmp4aHl3cXdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk3Nzc1MDgsImV4cCI6MjA3NTM1MzUwOH0.Zpkxkf8peBv0jHGIuEhElHKelN6ZHyxcAgBmhbXwIrU

